<nav class="navbar">
  <div class="max-width">
    <div class="logo">
      <a href="index.html#home">RJ23A<span></span></a>
    </div>
    <ul class="menu">
      <li><a href="index.html#home" class="menu-btn">Home</a></li>
      <li><a href="About.html" class="menu-btn">About</a></li>
      <li><a href="moments.html" class="menu-btn">Moments</a></li>
      <li><a href="Message.html" class="menu-btn">Message</a></li>
      <li><a href="contact.html" class="menu-btn">Contact Dosen</a></li>
    </ul>
    <button class="hamburger">
      <div class="bar"></div>
    </button>
  </div>
</nav>

<nav class="mobile-nav">
  <a href="index.html#home">Home</a>
  <a href="About.html">About</a>
  <a href="moments.html">Moments</a>
  <a href="Message.html">Message</a>
  <a href="contact.html">Contact Dosen</a>
</nav>


